body{

margin:0;

font-family:Arial,sans-serif;

background:#080808;

color:white;

overflow-x:hidden;

}

.bg{

position:fixed;

width:200%;

height:200%;

background:

repeating-linear-gradient(

120deg,

transparent 0,

transparent 100px,

rgba(255,255,255,.05) 101px,

transparent 102px

);

animation:bgmove 12s linear infinite;

z-index:-1;

}

@keyframes bgmove{

0%{

transform:translate(-10%,-10%);

}

100%{

transform:translate(10%,10%);

}

}

.container{

width:90%;

max-width:800px;

margin:auto;

padding:30px;

}

h1{

text-align:center;

}

p{

text-align:center;

opacity:.7;

}

input{

width:100%;

padding:18px;

font-size:18px;

border:none;

border-radius:20px;

margin-top:20px;

}

button{

width:100%;

padding:18px;

margin-top:15px;

font-size:18px;

border:none;

border-radius:20px;

cursor:pointer;

}

.result-card{

margin-top:15px;

padding:18px;

border-radius:20px;

background:

rgba(255,255,255,.06);

}
